@model EliteRentals.Models.LoginViewModel

<form asp-action="_LoginPartial" method="post" class="d-flex align-items-center">
    <div class="me-2">
        <input asp-for="Email" class="form-control" placeholder="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="me-2">
        <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
