@{
    ViewData["Title"] = "Contact Us - Elite Rentals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Contact Us - Elite Rentals</h1>
<p>
    I have 2 versions stashed: <br />
    1) A google form.<br />
    2) A actual form (But we need to link to Azure services). <br />
    3) Side Note: I have a fake map, contact details, locations, ect...
</p>